@media (prefers-color-scheme: dark) {
    body {
        /* background-color: #121212; */
        background-color: #0d1117;
    }
    #content {
        color: #fff;
    }
}

body {
    margin: 5% auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    max-width: 63%;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 14px; 
        line-height: 1.4; 
        max-width: 90%;
    }
}
        
header {
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 8px;
}