body {
    margin: 5% auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    max-width: 63%;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 8px;
}