html,body {
    margin: 0;
    padding: 0
}

.container {
    width: 25em;
    max-width: 90%;
    margin: 1.5em auto;
    font-family: "Inconsolata";
    text-align: center;
    font-weight: 300
}

.container h1 {
    font-family: "Molengo";
    font-size: 1.25em;
    font-weight: normal;
    margin: 0
}

.container hr {
    border: 1px solid #dddeee
}

.container p {
    font-size: 0.95em;
    line-height: 1.2em;
    letter-spacing: -0.25px;
    margin: 0.8em auto
}

.container p a {
    background: #eeeeee;
    color: #2e3b43;
    text-decoration: none
}

.container p a:hover {
    background: transparent;
    text-decoration: underline
}
